<h1 class="text-center">Todo app</h1>
<div class="container">
    <div class="row" style="margin-top:50px;">
        <div class="col-auto align-self-center m-auto">
            <input class="form-control-lg" type="text" placeholder="add task here" id="todoTextbox">
            <button class="btn btn-primary" type="button" id="addTodo">add</button>
        </div>
    </div>
    <div class="row">
        <div class="col-auto align-self-center m-auto">
            <ul>
                {{#if todos}}{{#each todos}}
                <li>{{this.taskName}} <span><a class="deleteTask" href="/" id={{this.id}}>[X]</a></span></li>
                {{/each}}{{/if}}
            </ul>
        </div>
    </div>
</div>
<script src="/assets/js/app.js"></script>